language: python
sudo: enabled
python:
  - "3.5"
  - "3.6"

env:
  global:
    - COVERAGE_PROCESS_START=.coveragerc
    #- PYTHONPATH=./misc/sitecustomize_for_codecoverage
  matrix:
    - ROOT=true
    - ROOT=false

install:
  # install plash
  - sudo apt-get install python3 python3-pip unionfs-fuse uidmap
  - sudo pip3 install coverage

git:
  depth: 1

script:
  - echo "data_file=${PWD}/.coverage" >> .coveragerc
  - cat .coveragerc
  - sed -i -e "s/VERSION = '0.1dev'/VERSION = '0.$TRAVIS_BUILD_NUMBER'/g" setup.py
  - python3 setup.py bdist_wheel
  - export PYTHONPATH=${PWD}/misc/sitecustomize_for_codecoverage
  - sudo -E pip3 install ./dist/*.whl;
  - pip3 install ./dist/*.whl;
  - plash run -A -- id
  - python3 bin/plash run -A -- id
  - if test "$ROOT" = true; then
      sudo -E pip3 install ./dist/*.whl;
      sudo -E plash test;
    else
      pip3 install ./dist/*.whl;
      plash test;
    fi;
  - coverage combine
  - coverage html
  - coverage report

deploy:

  - provider: script
    script:
      - plash misc/pretty
      - git commit -am "prettify cron job"
      - git push https://${GH_TOKEN}@github.com/ihucos/plash.git
    on:
      condition: $TRAVIS_PYTHON_VERSION = 3.6
      condition: $TRAVIS_EVENT_TYPE = cron

  - provider: pypi
    user: $PYPI_USER
    password: $PYPI_PASSWORD
    distributions: "sdist"
    skip_cleanup: true
    on:
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = 3.6

  - provider: script
    script: git tag 0.$TRAVIS_BUILD_NUMBER -m "https://pypi.org/project/plash/0.$TRAVIS_BUILD_NUMBER" && git push https://${GH_TOKEN}@github.com/ihucos/plash.git --tags
    on:
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = 3.6

after_success:
    - codecov -t $CODECOV_TOKEN
