language: generic
env:
  - BUILD='-i ubuntu --apt python3-pip'

install:

  # install plash and dependencies
  - sudo apt-get install python3 python3-pip unionfs-fuse uidmap
  - sudo pip3 install plash

#cache:
  #directories:
    #- ~/plashcache

script:

  # load the plash cache
  - sudo tar -xf ~/plashcache/data.tar -C / || sudo plash init

  - sudo -E plash run --include-string " $BUILD" -- ./ci

  # save the plash cache
  - sudo tar -cf ~/plashcache/data.tar /var/lib/plash
