language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
# # command to install dependencies
# install:
#   - pip install -r requirements.txt
# # command to run tests
script:
  - devscripts/runtests # or py.test for Python versions 3.5 and below
