language: generic
sudo: enabled

install:
  # install plash
  - sudo apt-get install python3 python3-pip
  - sudo pip3 install plash

cache:
  directories:
    - ~/plashcache

git:
  depth: 1

env:
  - BUILD="--alpine python3 bash"
  - BUILD="--ubuntu python3"
  - BUILD="--arch --devinit --pacman pypy3"

script:

  # load cache
  - sudo tar -xf ~/plashcache/data.tar -C /
  - sudo plash-init

  - sudo plash-run --include-string " $BUILD" --layer --devinit -- sh -c 'ln -s $(mktemp -d) /var/lib/plash && misc/runtests'

  # save cache
  - sudo tar -cf --sort=name ~/plashcache/data.tar /var/lib/plash/

deploy:

  - provider: pypi
    user: $PYPI_USER
    password: $PYPI_PASSWORD
    distributions: "sdist"
    skip_cleanup: true
    on:
      branch: master

  - provider: script
    script: git tag 0.$TRAVIS_BUILD_NUMBER -m "https://pypi.org/project/plash/0.$TRAVIS_BUILD_NUMBER" && git push https://${GH_TOKEN}@github.com/ihucos/plash.git --tags
    on:
      branch: master
