#!/bin/bash
set -xeu

tmp=$(mktemp -d)
plash.build -o alpine3.6
plash.mount alpine3.6 $tmp
grep  $tmp' '  /proc/mounts >/dev/null || {
  echo 'Could not find mountpoint in /proc/mounts '
  exit 1
}
test -d $tmp/usr
test -d $tmp/bin
test -d $tmp/var
