<html>
<head>
<meta charset="utf-8"/>
<title>Plash documentation</title>
<style>

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

i {
  font-style: italic;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
</style>
</head>
<body>
<a href="https://github.com/ihucos/plash"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<i>Last updated: {{ generated }}</i>
<h1>Plash Reference</h1>
<p>Plash is a containerization engine.
<h2>Subcommands</h2>
</pre>
<table>
{% for prog, short in progs %}
<div style="min-width: 8em; display: inline-block;">
      <a href="{{ prog|e}}.html">{{ prog|e }}</a>
</div>
{% endfor %}
</table>

<h2>Build commands ("macros")</h2>

<table>
{% for macro, short in macros %}
<tr>
  <td>
    {{ macro|e }}
  </td>
  <td>
    {{ short.capitalize()|e }}
  </td>
</tr>
{% endfor %}
</table>

<h2>Command Dependencies</h2>
<img src="graph.svg"></img>

<h2>Breadcrumbs</h2>
<h3>Image editing with gimp</h3>
<pre>$ plash build --from alpine --apk ttf-ubuntu-font-family gimp --layer --run 'touch /myfile'
112
$ plash run 112 gimp</pre>

<h3>Run python scripts</h3>
<pre>plash --from-github ihucos/python -- python myscript.py</pre>

<h3>Integration with docker</h3>
<pre>plash export-tar --from alpine | docker import -
plash --from-docker busybox
</pre>

<h3>Manage your dotfiles</h3>
<pre>plash -A py3-pip --layer --pip3 dotfiles -- dotfiles --sync</pre>

<h3>User namespaces</h3>
<pre>$ whoami
myuser
$ plash sudo whoami
root</pre>

<h3>Fetch a  container image</h3>
<pre>$ plash build --from alpine
plash: fetching 100%
plash: extracting...
plash: ignoring dev file: ./dev/null (Operation not permitted)
2</pre>

<h3>Run something in a container</h3>
<pre>$ plash run 2 printf 'hello from container\n'
hello from container</pre>

<h3>Automatic filesystem mapping</h3>
<pre>$ mkdir ~/mydir
$ cd ~/mydir
$ plash run 2 pwd
/home/myuser/mydir</pre>

<h3>Add layer to existing container</h3>
<pre>$ plash build --from 2 --run 'touch /myfile'
+ touch /myfile
--:
3</pre>

<h3>Build and run in one command</h3>
<pre>$ plash b run --from alpine --run 'touch /myfile' -- ls /myfile
/myfile</pre>

<h3>Shorter invocation</h3>
<pre>$ plash -Ax 'touch /myfile' -- ls /myfile
/myfile</pre>

<h3>Explicit layering</h3>
<pre>$ plash -Ax 'touch /myfile' -lx 'touch /otherfile' -- ls /otherfile </pre>

<h3>Access container root filesystem</h3>
<pre>$ plash b with-mount -A -- ls
bin  dev  etc  home  lib  media  mnt  proc  root  run  sbin  srv  sys  tmp  usr  var</pre>

<h3>Remove last layer of an image</h3>
<pre>$ plash b rm --from-github ihucos/python</pre>

<h3>Create an executable build file</h3>
<pre>$ cat /tmp/yapf
#!/usr/bin/env plash-exec
--from-github ihucos/python
--pip3 yapf
--entrypoint /usr/bin/yapf
$ /tmp/yapf myproject</pre>

<h3>Example of a more complex executable build file</h3>
<pre>#!/usr/bin/env plash-exec
--from archlinux
--pacman gtk3 python-gobject
--layer
--entrypoint-script 
#!/usr/bin/env python
import gi
gi.require_version('Gtk', '3.0')
from gi.repository import Gtk
Gtk.init(None)
Hello = Gtk.MessageDialog(message_type=Gtk.MessageType.INFO,
                          buttons=Gtk.ButtonsType.OK,
                          text="Hello world!",
                          secondary_text="This is running inside a plash container.")
Hello.run()</pre>

<h3>Macros expand to shell code</h3>
<pre>$ plash eval --from ubuntu --apt python3-pip --layer --pip3 yapf -lx 'touch /foo'
### plash hint: image=9
apt-get update
apt-get install -y python3-pip
### plash hint: layer
pip3 install yapf
### plash hint: layer
touch /foo</pre>
